defaultEntryPoints = ["http", "https"]

[entryPoints]
  [entryPoints.http]
    address = ":80"
      [entryPoints.http.redirect]
        entryPoint = "https"
  [entryPoints.https]
    address = ":443"
      [entryPoints.https.tls]
  [entryPoints.dashboard]
    address = ":3000"
    [entryPoints.dashboard.auth]
      [entryPoints.dashboard.auth.basic]
        users = [<AUTH_BASIC_USER:AUTH_BASIC_PASSWORD>]

[api]
entrypoint="dashboard"

[acme]
email = <ACME_EMAIL>
storage = "acme.json"
entryPoint = "https"
onHostRule = true
  [acme.httpChallenge]
  entryPoint = "http"

[docker]
domain = <DOMAIN_NAME>
watch = true
network = "web"
